<h2>Contact Me</h2>
<%= form_for(@contact) do %>
  <div class="field">
    <%= label :name %><br>
    <%= text_field :name %>
  </div>
  <div class="field">
    <%= label :email %><br>
    <%= email_field :email %>
  </div>
  <div class="field">
    <%= label :message %><br>
    <%= text_field :message %>
  </div>
  <div class="actions">
    <%= submit "Email Admin" %>
  </div>
<% end %>
