<h1>My projects</h1>

<% @projects.each do |project| %>
  <div class="project">
    <p>Name: <%= project.name %></p>
    <p>Technologies Used: <%= project.technologies_used %></p>
    <p>Link: <a href="<%= project.link %>"><%= project.link %></a></p>
    <p>
      <%= link_to 'Details', project %>
      <%= link_to 'Edit', edit_project_path(project) if policy(project).project? %>
      <%= link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } if policy(project).project? %>
    </p>
      -------------------------
  </div>
<% end %>

<br>

<%= link_to 'New Project', new_project_path if policy(Project).project? %>
