<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Technologies used:</strong>
  <%= @project.technologies_used %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Link:</strong>
  <%= @project.link %>
</p>

<%= link_to 'Back', projects_path %>
