<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Technologies used:</strong>
  <%= @project.technologies_used %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Link:</strong>
  <a href="<%= @project.link %>"><%= @project.link %></a>
</p>


<p id="approved comments">
  <%= render "comments/approved" %>
</p>

<p id="new comment">
  <%= render "comments/form" %>
</p>


<%= link_to 'Back', projects_path %>
