<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p id="author">
  <strong>By:</strong>
  <%= @post.author.email %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<p id="approved comments">
  <%= render "comments/approved" %>
</p>

<p id="new comment">
  <%= render "comments/form" %>
</p>

<%= link_to 'Back', posts_path %>
<%= link_to 'Edit', edit_post_path(@post) if policy(@post).edit? %>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } if policy(@post).destroy? %>

