<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Alex Quel Lien" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div id="header">
        <%= render "layouts/navbar" %>
        <%= render "layouts/noticebar" %>
      </div>
      <div id="main" class="large-9 column">
        <%= yield %>
      </div>
      <div id="sidebar" class="large-3 column panel">
        <%= yield :sidebar %>
      </div>
      <div class="push"></div>
    </div>
    <div class="footer">
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
