<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Alex Quel Lien" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="wrapper">
      <div id="header">
        <%= render "layouts/navbar" %>
      </div>
      <div id="main" class="large-9 column">
        <%= yield %>
      </div>
      <div id="sidebar" class="large-3 column panel">
        <%= yield :sidebar %>
      </div>
      <div class="push"></div>
    </div>
    <div class="footer">

    </div>

<!-- Begin Modal Windows -->
    <div id="twitterModal" class="reveal-modal" data-reveal>
      <h2>Redirecting to Twitter...</h2>
      <a href="https://twitter.com/aqlien" class="button expanded">Click here to continue</a>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="githubModal" class="reveal-modal" data-reveal>
      <h2>Redirecting to GitHub...</h2>
      <a href="https://github.com/aqlien" class="button expanded">Click here to continue</a>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="linkedinModal" class="reveal-modal" data-reveal>
      <h2>Redirecting to LinkedIn...</h2>
      <a href="https://www.linkedin.com/in/aqlien" class="button expanded">Click here to continue</a>
      <a class="close-reveal-modal">&#215;</a>
    </div>
<!-- End Modal Windows -->


    <%= javascript_include_tag "application" %>
  </body>
</html>
